.timeForm, .inputDiv, .submitDiv{
    /* border: 1px solid white; */
    padding: 5px;
}

.inputDiv{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.inputLabel {
    color: white;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid white; */
    font-weight: 100;
    margin-bottom: 10px;
}

.inputContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.submitDiv{
    display: flex;
    justify-content: center;
}

.dropdown{
    color: white;
        background-color: rgba(87, 193, 250, 0.241);
        font-size: 1.5rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* border: 2px solid rgba(3, 128, 244, 0.389); */
        border-color: transparent;
            text-align: center;
            border-radius: 16px;
            width: 270px;
            height: 50px;
    }

.options{
    color: black;
}

.submitBtn{
    border: 2px solid rgb(3, 244, 244);
    color: white;
    border-radius: 16px;
    background-color: transparent;
    padding: 15px 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    font-weight: 500;
}
.submitBtn:hover{
    background-color: rgba(3, 244, 244, 0.64);
    color: rgb(2, 2, 79);
    font-weight: 400;
    transition: 200ms ease-in-out;
    /* border: none; */
}

.displayContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display{
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.display1Head, .display2Head, .displayHead{
    color: rgb(2, 2, 79);
    background-color: rgba(127, 255, 212, 0.558);
        font-size: 1.75rem;
        text-align: center;
        padding: 20px 10px;
        margin-top: 4px;
        margin-bottom: 4px;
        /* border: 1px solid white; */
        width: 450px;
}

.displayHead{
    font-size: 2.3rem;
    width: 950px;
}

.diffDisplayContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display1, .display2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
}

.display1{
    margin-left: 30px;
}
.display2{
    margin-right: 30px;
}

.displayDiff h2{
    color: white;
    font-size: 2.75rem;
}