.timeDiv h2{
    color: white;
    background-color: rgba(127, 229, 255, 0.29);
    font-size: 2rem;
        /* font-weight: 400; */
        text-align: center;
        padding: 10px;
        /* border: 1px solid white; */
        width: 950px;
        padding: 10px 10px;
            margin-top: 0px;
            margin-bottom: 0px;
}

.timeDiff h2 {
    color: white;
        background-color: rgba(127, 229, 255, 0.29);
    font-size: 1.75rem;
    text-align: center;
    width: 450px;
    font-weight: 300;
    /* border: 1px solid white; */
    padding: 20px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}