body {
  margin: 0;
}

.mainHeadDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
    font-size: 40px;
}

.buttonDiv .btn{
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 18px;
  width: 150px;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.buttonDiv .btn:hover{
  box-shadow: 0 0.5em 0.5em -0.2em #96a9a1;
    transform: translateY(-0.2em);
}

.mainContent{
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

.sideContent{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
